@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5693ee;
}
.content{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
}
.login{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.pic{
    background-color: coral;
    width: 50%;
    height: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.header{
    font-size: 81px;
    font-family: "Space Grotesk";
    font-weight: 700;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
    width: 60%;
}
label{
    font-size: 20px;
    font-family: "Space Grotesk";
    font-weight: 200;
    color: rgb(109, 255, 47);
}
input{
    width: 100%;
    height: 60px;
    padding: 5px;
    font-size: 18px;
    font-family: "Space Grotesk";
    border: 2px solid rgb(195, 195, 195);
    border-radius: 5px;
}
.login-btn{
    
    width: 100%;
    height: 60px;
    background-color: rgb(86, 147, 238);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-family: "Space Grotesk";
    cursor: pointer;
}
.cont{
    display: flex;
    flex-direction: row;
    
}
.forgot{
    font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 200;
    color: rgb(255, 47, 47);
    text-decoration: none;
    margin: 5px;
    text-align: right;}
.or{
     font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 100;
    color: gray;
    text-align: center;
}
.signup{
    font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 200;
    background-color: #ee6d56;
    color: white;
    text-decoration: none;
    
    text-align:center;
    height: 60px;
    width: 100%;  
    border: none;
}