@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  scrollbar-width: none; /* Firefox */
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.login{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.pic{
    background-color: coral;
    width: 50%;
    height: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.header{
    font-size: 91px;
    font-family: "Space Grotesk";
    font-weight: 700;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
    width: 60%;
}
label{
    font-size: 20px;
    font-family: "Space Grotesk";
    font-weight: 200;
    color: rgb(86, 147, 238);
}
input{
    width: 100%;
    height: 60px;
    padding: 5px;
    font-size: 18px;
    font-family: "Space Grotesk";
    border: 2px solid rgb(195, 195, 195);
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
input:focus{
    outline: none;
    border: 2px solid rgb(86, 147, 238);
    filter: drop-shadow(0px 0px 5px rgb(86, 147, 238));
}
.login-btn{
    
    width: 100%;
    height: 60px;
    background-color: rgb(86, 147, 238);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-family: "Space Grotesk";
    cursor: pointer;
}
.cont{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.gmail, .password {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.forgot{
    font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 200;
    color: rgb(255, 47, 47);
    text-decoration: none;
    margin: 5px;
    text-align: right;}
.or{
     font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 100;
    color: gray;
    text-align: center;
}
.signup{
    font-size: 22px;
    font-family: "Space Grotesk";
    font-weight: 400;
    background-color: #ee6d56;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align:center;
    height: 60px;
    width: 100%;  
    border: none;
}
.emaillab, .passlab {
    margin-bottom: 8px;
    font-weight: 500;
}
button:hover:not(:disabled){
    filter: drop-shadow(0px 0px 5px rgb(86, 147, 238));
}
button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .header {
        font-size: 80px;
    }
    .forms {
        width: 70%;
    }
}

@media (max-width: 868px) {
    .container {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    .content {
        flex-direction: column;
        width: 100%;
    }
    .login {
        width: 100%;
        height: 50vh;
    }
     .pic{
        display: none;
     }
    .login {
        height: auto;
        padding: 20px;
        justify-content: flex-start;
    }
    .header {
        font-size: 60px;
    }
    .forms {
        width: 90%;
    }
    input {
        height: 50px;
        font-size: 16px;
    }
    .login-btn, .signup {
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 50px;
    }
    .forms {
        width: 95%;
        gap: 15px;
    }
    input {
        height: 45px;
        font-size: 15px;
    }
    .login-btn, .signup {
        height: 45px;
        font-size: 18px;
    }
    label {
        font-size: 16px;
    }
    .login {
        padding: 15px;
    }
}
