/* =========================
   NAVBAR (LIQUID GLASS)
========================= */

.nav {
  width: calc(100% - 2rem);
  max-width: 1200px;
  border-radius: 18px;
  background: rgba(32, 32, 32, 0.42);
  backdrop-filter: blur(10px) ;
  
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  overflow: visible; /* IMPORTANT */
}

/* inner nav bar */
nav {
  height: 70px;
  padding: 0 1.2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* logo */
.logo-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  font-size: 1.2rem;
  color: white;
}

.nav-name {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-weight: 700;
  color: white;
}

/* right side */
.nav-detail {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}

/* buttons */
.start-btn {
  padding: 0.55rem 1rem;
  border-radius: 999px;
  background: white;
  color: black;
  font-size: clamp(0.85rem, 1.5vw, 0.95rem);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.menu-btn {
  margin-left: 0.6rem;
  width: 44px;
  height: 44px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.15);
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
}

.menu-btn img {
  width: 20px;
  height: 20px;
  filter: invert(1); /* white icon */
}

/* =========================
   SLIDE MENU (FLOATING)
========================= */

.menu-panel {
  position: absolute;
  top: calc(70px + 12px); /* below navbar */
  left: 50%;
  transform: translateX(-50%);
  width: min(92vw, 1150px);
  padding: 1.5rem;
  background: rgba(32, 32, 32, 0.477);
  backdrop-filter: blur(50px) rgb(0, 0, 0);
  border-radius: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.966);
  z-index: 40;
  pointer-events: none;
  overflow: hidden;
}

/* =========================
   MENU CARDS
========================= */

.menu-card {
  background: linear-gradient(145deg, #396a1e, #2b3c16);
  color: white;
  border-radius: 18px;
  padding: 1.4rem;
  transition: transform 0.3s ease;
  height: clamp(100px,150px,200px);
  cursor: pointer;
}

.menu-card:hover {
  transform: translateY(-4px);
}

.menu-card h3 {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  margin-bottom: 0.9rem;
}

.menu-card p {
  font-size: clamp(0.85rem, 1.5vw, 0.95rem);
  opacity: 0.9;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.menu-card p:hover {
  opacity: 1;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 968px) {
  .menu-panel {
    grid-template-columns: 1fr;
    width: calc(100vw - 2rem);
    padding: 1.2rem;
    
  }

  nav {
    height: 64px;
  }
}
