@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    
}
html {
  scroll-behavior: smooth;
  
}
html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top, #111, #000);
  color: white;
  margin: 0;
  padding: 0;
  overflow-y: visible;
  overflow-x: hidden;
  
}

